a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.header__list {
    margin-right: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
    column-gap: 20px;
}
.header_list-right {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
    column-gap: 23px ;
}
.logo {
    margin-right: 60px;
}
.baner__btn {
    padding: 9px 22px;
    color: #FFFFFF;
    background: #000000;
}
.baner_tite {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
}
.containar {
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
}
.header_list-right {
    display: flex;
}

.monstrik_png {
    position: absolute;
    margin-left: 495px;
    margin-top: -50px;

}
.banner__design {

font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
margin-top:614 ;

color: #FFFFFF;

}
.banner__foot {
    text-align: center;
    background: #C29974;
    padding: 11px;
}
.products-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin: left 110px;
    display: flex;
    margin-top: 130px;
}

}